* {
    box-sizing: border-box;
}

div {
    width: 200px;
    height: 200px;
    margin: 30px;
}

.container_1 {
    background-color: aqua;
}


.container_2 {
    background-color: red;
}


.container_3 {
    background-color: yellow;
}


.container_4 {
    background-color: green;
}


.container_5 {
    background-color: purple;
}